@media (min-width: 1681px) {
	/*ROUGE*/
	#content{background-color: #ff6666;}
	.orange, .bleu, .vert, .jaune, .rose{display: none;}
}/*(min-width: 1681px)*/

@media (min-width: 1366px) and (max-width: 1680px) {
	/*ORANGE*/
	.rouge, .bleu, .vert, .jaune, .rose{display: none;}
	#content{background-color: #ffaa80;}
}/*(min-width: 1366px) and (max-width: 1680px)*/

@media (min-width: 1024px) and (max-width: 1365px) {
	/*BLEU*/
	.rouge, .orange, .vert, .jaune, .rose{display: none;}
	#content{background-color: #8080ff;}
}/*(min-width: 1024px) and (max-width: 1365px)*/

@media (min-width: 768px ) and (max-width: 1023px) {
	/*VERT*/
	.rouge, .orange, .bleu, .jaune, .rose{display: none;}
	#content{background-color: #75f075;}
}/*(min-width: 768px ) and (max-width: 1023px)*/

@media (min-width: 568px ) and (max-width: 767px) {
	/*JAUNE*/
	.rouge, .orange, .bleu, .vert, .rose{display: none;}
	#content{background-color: #ffff99;}
}/*(min-width: 568px ) and (max-width: 767px)*/

@media (max-width: 567px ) {
	/*ROSE*/
	.rouge, .orange, .bleu, .vert, .jaune{display: none;}
	#content{background-color: #ff80df;}
}/*(max-width: 567px )*/



body{
	font-family: sans-serif;
}

#header, #content{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

#header{
	height: 10vh;
	align-items: center;
}

article{
	width: 30%;
	border: 1px solid black;
}

p{
	margin: 5px;
}